on init

loglevel 9

# We will create our own ril-daemon service in class 'core' because the
# rild doesn't like being killed. (During device encryption.)
    stop ril-daemon

on fs

# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount

    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # bluetooth
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/type
    restorecon /sys/class/rfkill/rfkill0/state
    restorecon /sys/class/rfkill/rfkill1/state
    restorecon /sys/class/rfkill/rfkill0/type
    restorecon /sys/class/rfkill/rfkill1/type

    # System server can control backlight brightness
    chown system system /sys/class/backlight/s5p_bl/brightness

    # change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/uart_sel

on post-fs

    # now that all filesystems are mounted, load device specific kernel modules
    insmod /system/lib/modules/vibrator.ko   # vibrator

on post-fs-data

    # create data/gps for GPS demon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps

    # wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # cpufreq, set ondemand governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

    # sensors
    # this needs to be fixed correctly, see: frameworks/base/services/sensorservice/SensorDevice.cpp

    write /sys/class/input/input3/enable 1  # enable gyro (p1c) & orientation_sensor (p1)
    write /sys/class/input/input4/enable 1  # enable lightsensor-level (p1c) & gyro (p1)

    # make sure that /data/.nvram_net.txt exists during wifi initialization
    start set-macaddr

    setprop vold.post_fs_data_done 1

on boot

    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    # phone
    setprop ro.telephony.call_ring.multiple 0

service p1-ril-daemon /system/bin/rild
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

# set device specific MAC addresses, depends on preceding start of rild
service set-macaddr /system/vendor/bin/set-macaddr
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start set-macaddr

service wpa_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -O/data/misc/wifi/sockets -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
	#   we will start as root and wpa_supplicant will switch to user wifi
	#   after setting up the capabilities required for WEXT
	#   user wifi
	#   group wifi inet keystore
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service tvout /system/bin/tvoutserver
    class main
    user system
    group graphics

service tvouthack /system/bin/tvouthack
    user system
    group graphics
    disabled
